
$color:blue;
$fs12:12px;

@mixin webkit($attr, $value) {
    -webkit-box-shadow:0 3px 16px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 3px 16px 0 rgba(0,0,0,.1);
    -ms-box-shadow:0 3px 16px 0 rgba(0,0,0,.1);
    -o-box-shadow:0 3px 16px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 16px 0 rgba(0,0,0,.1);
  }