.form-wrap {
  display: flex;
  width: 300px;
  height: 100px;
  margin: auto;
  align-items: center;
}

.form-wrap > div {
  width: 100%;
}

.form-header {
  height: 56px;
  line-height: 56px;
  color: #fff;
}

.form-header .column {
  margin-bottom: 0 !important;
  float: left;
  font-size: 16px;
}

.form-header span {
  float: right;
  opacity: 0.5;
  color: #111;
}

.form-header .form-content {
  margin-top: 65px;
}
